# python
__pycache__
.virtualenv

# node/bower
node_modules
bower_components

# emacs
*~

# static js
assets/static/js/app-min.js
assets/static/js/app.js
assets/static/css

# Tests
tests/venv

# Build
public
