# python
__pycache__
.venv

# node/bower
node_modules

# emacs
*~

# static js
assets/static/js
assets/static/css

# Tests
tests/venv

# Build
public

# Lektor
.lektor

packages/**/*.egg-info

# macOS
.DS_Store