{% macro render_blog_post(post, from_index=false) %}
  {% set summary = post.body.html.split('<!-- readmore -->') %}
  <article class="blog-post center">
    <h1><a href="{{ post|url }}">{{ post.title }}</a></h1>
    <div class="info">
      Published on {{ post.pub_date }} with <a href="{{ post|url }}#commento">no comments.</a>
    </div>
    <div class="content">
      {% if from_index and summary|length > 1 %}
        {{ summary[0] }}
        <p class="text-right"><a href="{{ post|url }}">Read more &raquo;</a></p>
      {% else %}
        {{ post.body }}
      {% endif %}
    </div>
    {% if not from_index and post.edit_comment %}
    <h3>Edits</h3>
    {{ post.edit_comment }}
    {% endif %}
    <hr class="light">
  </article>
{% endmacro %}
