{% extends "blog/_base.html" %}
{% from "macros/blog.html" import render_blog_post, render_gallery %}

{% block body_class %}blog post{% endblock %}

{% block page_title %}{{ this.title }} | {{ super() }}{% endblock %}

{% block main_content %}
  {{ render_blog_post(this) }}
  <div class="center block-info">
    If you want to approach me directly about this post use the most appropriate channel 
    from <a href="{{ '/about'|url }}">the about page</a>.
  </div>
{% endblock %}

{% block endbody %}
  {{ super() }}
{% endblock %}
