{% extends "blog/_base.html" %}
{% from "macros/blog.html" import render_blog_post, render_gallery %}

{% block body_class %}blog post{% endblock %}

{% block page_title %}{{ super() }} | {{ this.title }}{% endblock %}

{% block main_content %}
  {{ render_blog_post(this) }}
  {% if this.children.get("gallery") %}
  {{ render_gallery(this) }}
  {% endif %}
  <div class="center block-info">
    Comments have been disabled in this blog. If you want to contact me directly please use the information at the bottom of the page.
  </div>
{% endblock %}

{% block endbody %}
  {{ super() }}
{% endblock %}
