<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Felipe Martin{% endblock %}</title>
    <link rel="stylesheet" href="{{ '/static/css/style.css'|asseturl }}">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for fmartingr.com" href="/feed.xml" />
    <link rel="icon" href="/static/images/favicon.ico">
    <!-- Mobile -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="cleartype" content="on">

    {% block endhead %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="page-content">
      <section class="main-content">
        {% block main_content %}asd{% endblock %}
      </section>
      <header>
        <h1>Felipe Martín</h1>
        <img class="avatar" src="{{ '/static/images/avatar.jpg'|asseturl }}">
        <hr />
        <nav>
          <a {% if this.path == '/' %}class="text-bold"{% endif %} href="{{ '/'|url }}">/home</a>
          {% for section in site.get('/').children.order_by("title") %}
            <a {% if this.is_child_of(section) %}class="text-bold"{% endif %} href="{{ section|url }}">{{ section.path }}</a>
          {% endfor %}
        </nav>
        <hr />
        <ul class="social text-size-small">
          <li>
            <span class="title">E-mail</span>
            <a target="_blank" href="mailto:me@fmartingr.com">me@fmartingr.com</a>
          </li>
          <li>
            <span class="title">Sourcehut</span>
          <a target="_blank" href="https://sr.ht/~fmartingr">~fmartingr</a>
          </li>
          <li>
            <span class="title">LinkedIn</span>
            <a target="_blank" href="https://www.linkedin.com/in/fmartingr/">linkedin.com/fmartingr</a>
          </li>
          <li>
            <span class="title">Mastodon</span>
            <a target="_blank" rel="me" href="https://fosstodon.org/@fmartingr">fmartingr@fosstodon.org</a>
          </li>
          <li>
            <span class="title">PGP</span>
            <a href="/pubkey.txt">716B C147 715E 716F</a>
          <li>
            <a href="{{ '/about'|url }}">[+ more]</a>
          </li>
        </ul>
        <hr />
        <ul class="social text-size-small">
          <li>
            <span class="title">Site created using</span>
            <a target="_blank" href="https://www.getlektor.com/">lektor</a>
          </li>
        </ul>
      </header>
    </div>
    <script type="text/javascript" src="{{ '/static/js/app-min.js'|url }}"></script>
    {% block endbody %}{% endblock %}
  </body>
</html>
