{% extends "_base.html" %}
{% from "macros/blog.html" import render_blog_post %}

{% block page_title %}{{ this.title }} | {{ super() }}{% endblock %}

{% block main_content %}
  <h2>Latest blog posts</h2>
  {% for post in site.get('/blog').pagination.for_page(1).pagination.items %}
  <article class="blog-post center">
    <h3 class="title"><a href="{{ post|url }}">{{ post.title }}</a></h3>
    <div class="info">{{ post.pub_date.strftime("%B %d, %Y") }}</div>
  </article>
  <hr />
  {% endfor %}
  {{ this.body }}
{% endblock %}

{% block body_class %}home{% endblock %}
